## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Smithers,54.7804,-127.1743,59.32,67,75,3.44,CA,light rain
1,1,Rikitea,-23.1203,-134.9692,71.42,64,98,16.33,PF,overcast clouds
2,2,Semirom,31.4167,51.5667,72.25,27,42,3.53,IR,scattered clouds
3,3,San Patricio,28.0170,-97.5169,95.54,44,0,17.90,US,clear sky
4,4,Guatire,10.4762,-66.5427,77.50,94,96,3.04,VE,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
3,3,San Patricio,28.0170,-97.5169,95.54,44,0,17.90,US,clear sky
4,4,Guatire,10.4762,-66.5427,77.50,94,96,3.04,VE,overcast clouds
5,5,Banda Aceh,5.5577,95.3222,80.44,79,100,12.66,ID,overcast clouds
6,6,Avarua,-21.2078,-159.7750,77.05,73,2,6.91,CK,clear sky
8,8,Saint George,37.1041,-113.5841,99.79,32,1,11.01,US,clear sky
10,10,Bairiki,1.3292,172.9752,82.40,74,75,13.80,KI,broken clouds
13,13,Georgetown,5.4112,100.3354,83.89,86,20,3.00,MY,few clouds
18,18,Umm Bab,25.2142,50.8072,96.48,59,0,5.70,QA,clear sky
19,19,Hambantota,6.1241,81.1185,79.57,78,98,17.49,LK,overcast clouds
20,20,Butaritari,3.0707,172.7902,83.91,73,51,16.04,KI,broken clouds

In [13]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
3,3,San Patricio,28.0170,-97.5169,95.54,44,0,17.90,US,clear sky
4,4,Guatire,10.4762,-66.5427,77.50,94,96,3.04,VE,overcast clouds
5,5,Banda Aceh,5.5577,95.3222,80.44,79,100,12.66,ID,overcast clouds
6,6,Avarua,-21.2078,-159.7750,77.05,73,2,6.91,CK,clear sky
8,8,Saint George,37.1041,-113.5841,99.79,32,1,11.01,US,clear sky
...,...,...,...,...,...,...,...,...,...,...
697,697,Buluang,13.3068,123.3425,80.15,86,100,15.39,PH,overcast clouds
699,699,Ghotki,28.0060,69.3161,91.20,45,96,10.22,PK,overcast clouds
701,701,Pimentel,-6.8367,-79.9342,75.49,77,0,5.99,PE,clear sky
703,703,Lorengau,-2.0226,147.2712,80.38,82,26,6.33,PG,scattered clouds
704,704,Burias,11.4463,122.5497,75.40,88,100,5.95,PH,light rain

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,San Patricio,US,95.54,clear sky,28.0170,-97.5169,
4,Guatire,VE,77.50,overcast clouds,10.4762,-66.5427,
5,Banda Aceh,ID,80.44,overcast clouds,5.5577,95.3222,
6,Avarua,CK,77.05,clear sky,-21.2078,-159.7750,
8,Saint George,US,99.79,clear sky,37.1041,-113.5841,
10,Bairiki,KI,82.40,broken clouds,1.3292,172.9752,
13,Georgetown,MY,83.89,few clouds,5.4112,100.3354,
18,Umm Bab,QA,96.48,clear sky,25.2142,50.8072,
19,Hambantota,LK,79.57,overcast clouds,6.1241,81.1185,
20,Butaritari,KI,83.91,broken clouds,3.0707,172.7902,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,San Patricio,US,95.54,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
4,Guatire,VE,77.50,overcast clouds,10.4762,-66.5427,Parque Residencial Canaima I
5,Banda Aceh,ID,80.44,overcast clouds,5.5577,95.3222,Sulthan Hotel International
6,Avarua,CK,77.05,clear sky,-21.2078,-159.7750,Paradise Inn
8,Saint George,US,99.79,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
10,Bairiki,KI,82.40,broken clouds,1.3292,172.9752,Tarawa Boutique Hotel
13,Georgetown,MY,83.89,few clouds,5.4112,100.3354,Cititel Penang
18,Umm Bab,QA,96.48,clear sky,25.2142,50.8072,mike beach
19,Hambantota,LK,79.57,overcast clouds,6.1241,81.1185,Bungalow 63
20,Butaritari,KI,83.91,broken clouds,3.0707,172.7902,Isles Sunset Lodge

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))